@model WeatherVM
<!-- weather section  -->
<div class="container" style="margin-bottom:3em">
    @foreach (var w in Model.Weathers)
    {
        <div class="row">
            <div id="" class="col-8 mx-auto weather">
                <!-- weather header section -->
                <div class="weather-head">


                    <h1 id="location" class="text-center display-4"><strong>@w.Supplier.Name</strong></h1>

                    <div class="row">
                        <div class="  col-md-6 text-center">
                            <form method="post">
                                <button style='font-size:24px;color:yellow;background-color:transparent' type="submit" asp-action="AddLikes" asp-route-wname="@w.Supplier.Name" asp-route-loc="@w.Loc.CityName" asp-route-typ="like">Like  <i class='far fa-thumbs-up'></i> </button>
                            </form>
                        </div>
                        <div class="  col-md-6 text-center">
                            <form method="post">
                                <button style='font-size:24px;color:red;background-color:transparent' type="submit" asp-action="AddDisLikes" asp-route-wname="@w.Supplier.Name" asp-route-loc="@w.Loc.CityName" asp-route-typ="dislike">Dislike  <i class='far fa-thumbs-down'></i> </button>
                            </form>
                        </div>
                    </div>


                    <div class="row">
                        <div id="description" class="description col-6 text-center">
                            @*<i id="icon-desc" class="wi wi-owm-200"></i>*@
                            @*<img src="~/img/weathericons/04.png" />*@
                            <img src=@w.ImgIcon />
                            <p class="desc">@w.Description</p>
                        </div>
                        <div id="temperature" class="col-6 text-center">
                            @w.Temperatur <i id="icon-thermometer" class="wi wi-thermometer"></i>
                        </div>
                    </div>
                    <!-- weather body header -->
                    <div class="weather-body">
                        <div class="row">
                            <div class="humidity col-4 text-center">
                                <i class="wi wi-raindrop"></i><span> Humidity</span>
                            </div>
                            <div class="wind col-4 text-center">
                                <i class="wi wi-strong-wind"></i><span> Wind Speed</span>
                            </div>
                            <div class="visibility col-4 text-center">
                                <i class="wi wi-wu-rain"></i><span> Perecipitation</span>
                            </div>
                        </div>
                        <!-- weather body data -->
                        <div class="row">
                            <div id="humidity" class="humidity-data col-4 text-center">
                                @w.Humidity%
                            </div>
                            <div id="wind" class="wind-data col-4 text-center">
                                @w.Wind m/s
                            </div>
                            <div id="visibility" class="degree-data col-4 text-center">
                                @w.Precipitation mm
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    };
</div>

@*Like and dislike icons*@
<script src='https://kit.fontawesome.com/a076d05399.js'></script>



@*@foreach (var w in Model.Weathers)
    {
        <div class="alert" style="background-color:aqua">
            <h1>@w.Supplier.Name</h1>
            <p>@w.Temperatur</p>
            <p> @w.Description </p>
            <p>Wind: @w.Wind </p>
            <p>Humidity: @w.Humidity </p>
            <form method="post">
                <button type="submit" asp-action="AddLikes" asp-route-wname="@w.Supplier.Name" asp-route-loc="@w.Loc.CityName">Gilla</button>
            </form>
        </div>
    }*@

