@model WeatherVM

<div class="container" style="margin-bottom:3em">
    <!-- Time and location section  -->
    <div id="cityhead" class="weather text-center col-lg-8 mx-auto" style="font-size:20px; padding-top:1rem; padding-bottom:1rem;">
        <div style="font-size:3rem">@Model.City</div>
        <div>@Model.Date</div>
    </div>

    <!-- weather section  -->
    @foreach (var w in Model.Weathers)
    {
        <div class="row">
            <div id="" class="col-lg-8 mx-auto weather hov">
                <!-- weather header section -->
                <div class="weather-head" onclick="showa(this)">
                    <h1 id="location" class="text-center display-4"><strong>@w.Supplier.Name</strong></h1>
                    <div class="row" style="display: flex; justify-content: space-around">
                        <div class="col-xs-6 text-center">
                            <form method="post">
                                <button class="btn btn-light" id="button1" style='font-size:16px; min-width:90px;height:35px;color:yellow;background-color:transparent' type="submit" asp-action="AddLikes" asp-route-wname="@w.Supplier.Name" asp-route-loc="@w.Loc.CityName" asp-route-typ="like">Like  <i class='far fa-thumbs-up'></i> </button>
                            </form>
                        </div>
                        <div class="col-xs-6 text-center">
                            <form method="post">
                                <button class="btn btn-light" id="button2" style="font-size:16px; min-width: 90px;height: 35px; color:red;background-color:transparent;" type="submit" asp-action="AddLikes" asp-route-wname="@w.Supplier.Name" asp-route-loc="@w.Loc.CityName" asp-route-typ="dislike">Dislike  <i class='far fa-thumbs-down'></i> </button>
                            </form>
                        </div>
                    </div>


                    <div class="row">
                        <div id="description" class="description col-6 text-center">
                            <img id="icon-desc" src=@w.ImgIcon />
                            <p class="desc" style="white-space:nowrap; font-size:x-large;">@w.Description</p>
                        </div>
                        <div id="temperature" class="col-6 text-center" style="overflow:hidden;">
                            <p id="tempi">@w.Temperatur &#8451;</p>

                            <p id="icon-thermometer" class="wi wi-thermometer"></p>
                        </div>
                    </div>
                    <!-- weather body header -->
                    <div class="weather-body" style="display:none">

                        <div class="row">
                            <div class="humidity col-4 text-center">
                                <i class="wi wi-raindrop fa-1x"></i><span class="humi" style="white-space:nowrap;"><br />Humidity</span>
                            </div>
                            <div class="wind col-4 text-center">
                                <i class="wi wi-strong-wind fa-1x"></i><span class="humi" style="white-space:nowrap;"><br />Wind Speed</span>
                            </div>
                            <div class="visibility col-4 text-center">
                                <i class="wi wi-wu-rain fa-1x"></i><span class="humi" style="white-space:nowrap;"><br />Precipitation</span>
                            </div>
                        </div>
                        <!-- weather body data -->
                        <div class="row">
                            <div id="humidity" class="humidity-data col-4 text-center" style="white-space:nowrap">
                                @w.Humidity %
                            </div>
                            <div id="wind" class="wind-data col-4 text-center" style="white-space:nowrap">
                                @w.Wind m/s
                            </div>
                            <div id="visibility" class="degree-data col-4 text-center" style="white-space:nowrap">
                                @w.Precipitation mm
                            </div>
                        </div>


                        <div class="row progn">
                            @foreach (var forec in w.Forecasts)
                            {


                                <div class="wii col-4 text-center">
                                    @forec.time
                                </div>
                           
                            }
                        </div>
                        <div class="row tempii">
                            @foreach (var forec in w.Forecasts)
                            {
                                <div class=" col-4 text-center">
                                    <img class="ico" style="padding-top:0px" src=@forec.ImgIcon />

                                    <p>@forec.Temperatur &#8451;</p>
                                </div>
                            }
                     
                            </div>
                    </div>
                </div>
            </div>
        </div>
    };
</div>

@*Like and dislike icons*@
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
@*background images changes after on time*@
<script src="~/js/background.js" asp-append-version="true"></script>

