@model WeatherVM
    <div class="hero">
        <!-- navbar -->
        @*<nav class="navbar">
            <a class="navbar-brand" href="#">
                <i class="fa fa-sun-o" aria-hidden="true"></i>
                <strong>Weather</strong>Vote
            </a>
            <span id="location" class="lead">Stockholm, Sweden</span>
            <span id="date" class="lead">12:00AM | SEP 16, 2019</span>
        </nav>*@
        <!-- weather section  -->


        <div class="container">
            @foreach (var w in Model.Weathers)
            {
                <div class="row">
                    <div id="" class="col-8 mx-auto weather">
                        <!-- weather header section -->
                        <div class="weather-head">
                            <h1 id="location" class="text-center display-4"><strong>@w.Supplier.Name</strong></h1>
                            <div class="row">
                                <div id="description" class="description col-6 text-center">
                                    <i id="icon-desc" class="wi wi-owm-200"></i>
                                    <p class="desc">@w.Description</p>
                                </div>
                                <div id="temperature" class="col-6 text-center">
                                    @w.Temperatur <i id="icon-thermometer" class="wi wi-thermometer"></i>
                                </div>
                            </div>
                            <!-- weather body header -->
                            <div class="weather-body">
                                <div class="row">
                                    <div class="humidity col-4 text-center">
                                        <i class="wi wi-raindrop"></i><span> Humidity</span>
                                    </div>
                                    <div class="wind col-4 text-center">
                                        <i class="wi wi-strong-wind"></i><span> Wind Speed</span>
                                    </div>
                                    <div class="visibility col-4 text-center">
                                        <i class="wi wi-wu-rain"></i><span> Perecipitation</span>
                                    </div>
                                </div>
                                <!-- weather body data -->
                                <div class="row">
                                    <div id="humidity" class="humidity-data col-4 text-center">
                                        @w.Humidity%
                                    </div>
                                    <div id="wind" class="wind-data col-4 text-center">
                                        @w.Wind m/s
                                    </div>
                                    <div id="visibility" class="degree-data col-4 text-center">
                                        @w.Precipitation mm
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>


           



            }
        </div>
    </div>




